:root {
    --size-xxxl: clamp(4rem, 6vw, 8rem);
    --size-xxl: clamp(2rem, 4vw, 3.8rem);
    --size-xl:  clamp(1.9rem, 3.2vw, 3rem);
    --size-l:   clamp(1.2rem, 2.5vw, 2rem);
    --size-m:   clamp(1rem, 2vw, 1.5rem);
    --size-sm:  clamp(1rem, 1.4vw, 1.2rem);
    --size-s:   clamp(0.8rem, 1.1vw, 1rem);
    --size-xs:  clamp(0.75rem, 0.9vw, 0.9rem);
    --size-xxs:  clamp(0.7rem, 0.7vw, 0.6rem);
}